<html>
<head>
    <title>University Registrar</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
    <div class="container">

    <h1>Welcome to the University Registrar</h1>

        <h3><a href="/courses">Add or view a course</a></h3>
        <h3><a href="/students">Add or view a student</a></h3>

    </div>
</body>
</html>
